<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Employee </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">


                    <div class="form-group">
                        <label> Quantity</label>
                        <input type="number" class="form-control" id="active" [(ngModel)]="stock.quantite"
                            name="active">
                    </div>

                    <!-- <div class="form-group"> 
                        <label> Produit</label>
                        <select class="form-select"  #produit (change)="onProduitChange(produit.value)">
                          <option  *ngFor="let produit of produits" name="produit" [value]="produit.id" [selected]="produit.id == stock.produit.id">
                             {{ produit.nom }} </option>
                        </select>
                      </div>

                      <div class="form-group">
                        <label> Store</label>
                        <select  class="form-select" #magasin (change)="onMagasinChange(magasin.value)">
                          <option *ngFor="let store of magasins" name="magasin" [value]="store.id"  [selected]="store.id == stock.magasin.id">
                            {{ store.nom }}
                          </option>
                        </select>
                      </div> -->

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>