<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update artcicle produit </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]="produit.nom"
                            name="name">
                    </div>
                    
                    <div class="form-group">
                        <label> Year</label>
                        <input type="text" class="form-control" id="year" [(ngModel)]="produit.anneeModel"
                            name="year">
                    </div>

                    <div class="form-group">
                        <label> Price</label>
                        <input type="text" class="form-control" id="price" [(ngModel)]="produit.prixDepart"
                            name="price">
                    </div>
                    <div class="form-group"> 
                        <label> Category</label>
                        <select class="form-select"  #categorie (change)="onCategorieChange(categorie.value)">
                          <option  *ngFor="let categorie of categories" name="categorie" [value]="categorie.id" [selected]="categorie.id == produit.id">
                             {{ categorie.nom }} </option>
                        </select>
                      </div>
                      
            
                      <div class="form-group"> 
                        <label> Brand</label>
                        <select class="form-select"  #marque (change)="onMarqueChange(marque.value)">
                          <option  *ngFor="let marque of marques" name="marque" [value]="marque.id" [selected]="marque.id == produit.id">
                             {{ marque.nom }} </option>
                        </select>
                      </div>
                    

                

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>