table {
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	background-color: rgb(255, 255, 255);
	margin-top: -570px;
	position: relative;
}


button {
	margin: 5px;
	font-family: QuicksandRegular;
	font-size: 13px;
}


th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #000000;
    font-family: QuicksandRegular;
}


thead th {
		background-color: #0b788b;
		border: 1px solid #076778;
		color: #fff;
		font-family: QuicksandRegular;
	}


tbody tr:hover {
			background-color: rgba(165, 164, 164, 0.3);
		}

tbody td {
    position: relative;
}
	
tbody td:hover:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(133, 133, 133, 0.3);
				z-index: -1;
			}
#gif {
    width: 100%;
    margin-top: -250px;
}

nav {
    background-color: transparent;
    color: white;
    margin-right: 40px;
    margin-left: 20px;
}

nav a {
    color: rgb(255, 255, 255);
    margin-right: 5px;
    font-family: QuicksandRegular;
}

nav a:hover {
    color: #084a48;
}

.site-navbar-wrap {
    background-color: transparent;
    position: relative;
    color: #fff;
    margin-top: 10px;
    font-family: QuicksandRegular;
    width: 100%;
}

.site-navbar-wrap a {
    color: #fff; }

.site-navbar-wrap a:hover {
    color: #084a48;
}
    
.site-navbar-wrap .site-navbar-top {
    font-size: 0.8rem; }

#navbarSupportedContent {
    margin-left: 38%;
}

.navbar-toggler {
    border: 0px;
    color: #fff;
}

.dropdown-menu a {
    color: #ffffff;
    font-size: 14px;

}

.dropdown-menu {
    border: 1px solid rgb(0, 181, 181);
    background-color: rgb(0, 0, 0, 0.1);
}

.navbar-brand {
    font-family: QuicksandBold;
    font-weight: bolder;
    font-size: 30px;
}

