<div class = "row">
    <h2> Brand List</h2>
</div>

<table class = "table table-striped table-bordered">
    <thead>
      <button (click)="ajoutMarque()" class = "btn btn-primary"> Add a brand</button>

        <tr>
            <th>Name</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let marque of marques" >
            <td> {{ marque.nom }} </td>
            <td>
                <button (click)="updateMarque(marque.id)"  class = "btn btn-primary"> Update</button>
                <button (click)="deleteMarque(marque.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <!-- <button class = "btn btn-primary" style="margin-left: 10px"> View</button> -->
            </td>
        </tr>
    </tbody>
</table>
